<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Sacer IAM</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>Charset filter</filter-name>
        <filter-class>it.eng.spagoCore.util.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Charset filter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>URI Encoding filter</filter-name>
        <filter-class>it.eng.spagoCore.util.UriEcondingFilter</filter-class>
        <init-param>
            <param-name>uriEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>URI Encoding filter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>
    <!-- SPRING ROOT CONTEXT -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/security/securityContext.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- SPRING ROOT CONTEXT -->
    <!-- SSO CONFIGURATION -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/saml/*</url-pattern>
    </filter-mapping>
    <!-- SSO CONFIGURATION FINE -->
    <listener>
        <listener-class>it.eng.saceriam.web.util.AuditSessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>it.eng.spagoCore.configuration.ConfigServlet</servlet-class>
        <init-param>
            <param-name>AF_CONFIG_FILE</param-name>
            <param-value>/WEB-INF/conf/spago/master.xml</param-value>
        </init-param>
               
        <!-- CONFIGURAZIONE LOGO SULLA CORNICE DELLE PAGINE -->
        
        <!-- logo in alto a destra -->
        <init-param>
            <param-name>logo1_relativePath</param-name>
            <param-value>/img/regione/LogoParer.png</param-value>
        </init-param>
        <init-param>
            <param-name>logo1_url</param-name>
            <param-value>https://poloarchivistico.regione.emilia-romagna.it</param-value>
        </init-param>
        <init-param>
            <param-name>logo1_title</param-name>
            <param-value>ParER - Polo Archivistico Regionale dell'Emilia-Romagna</param-value>
        </init-param>
        <init-param>
            <param-name>logo1_alt</param-name>
            <param-value>Logo ParER</param-value>
        </init-param>

        <!-- logo in basso a sinistra -->
        <init-param>
            <param-name>logo2_relativePath</param-name>
            <param-value>/img/regione/LogoER.png</param-value>
        </init-param>
        <init-param>
            <param-name>logo2_url</param-name>
            <param-value>http://www.regione.emilia-romagna.it</param-value>
        </init-param>
        <init-param>
            <param-name>logo2_title</param-name>
            <param-value>Regione Emilia-Romagna</param-value>
        </init-param>
        <init-param>
            <param-name>logo2_alt</param-name>
            <param-value>Regione Emilia-Romagna</param-value>
        </init-param>        
        
        <!-- logo in basso a destra
       <init-param>
           <param-name>logo3_relativePath</param-name>
           <param-value>/img/regione/LogoIbc.png</param-value>
       </init-param>
       <init-param>
           <param-name>logo3_url</param-name>
           <param-value>http://www.ibc.regione.emilia-romagna.it</param-value>
       </init-param>
       <init-param>
           <param-name>logo3_title</param-name>
           <param-value>Istituto per i beni artistici culturali e naturali della Regione Emilia-Romagna</param-value>
       </init-param>
       <init-param>
           <param-name>logo3_alt</param-name>
           <param-value>Logo IBC</param-value>
       </init-param>  
        -->
        <!-- CONFIGURAZIONE LOGO SULLA CORNICE DELLE PAGINE FINE --> 
        
        <init-param>
            <param-name>titolo_applicativo</param-name>
            <param-value>SIAM</param-value>
        </init-param>
        
        <init-param>
            <param-name>enableHelpOnline</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>disableSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SpringServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>StatusMonitorSrvlt</servlet-name>
        <servlet-class>it.eng.saceriam.restws.StatusMonitorSrvlt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SAMLFederationMetadata</servlet-name>
        <servlet-class>it.eng.saceriam.ws.SAMLFederationMetadata</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SAMLFederationMetadata</servlet-name>
        <url-pattern>/federationMetadata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusMonitorSrvlt</servlet-name>
        <url-pattern>/StatusMonitor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSP webapp</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/login/notAuthorized.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/login/notAuthorized.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/notAllowedError.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/genericError.jsp</location>
    </error-page>    
</web-app>
